$dark-blue: #202334;
$light-blue: #53597B;

body {
  background: $dark-blue;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

@lost gutter 15px;

.row {
  lost-utility: clearfix;
  lost-center: 1170px;
}

.main-content {
  lost-column: 3/4;
}

.sidebar {
  lost-column: 1/4;
}

.search-results {
  lost-flex-container: row;
  padding: 0;
  list-style: none;
}

.search-result {
  lost-column: 1/4 flex;
  background: $light-blue;
  margin-bottom: 15px;
  font-size: 14px;

  &__image {
    position: relative;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s ease-in-out;
    background: rgba(32, 35, 52, 0.8);
  }

  &__content {
    padding: 2px 10px 7px;
  }

  &:hover {
    .search-result__image-overlay {
      opacity: 1;
    }
  }
}

.playlist {
  padding: 0;
  list-style: none;
}
