$brand-primary: #FFAC15;
$darkest-blue: #202334;
$dark-blue: #353954;
$blue: #434762;
$light-blue: #53597B;

body {
  background: $darkest-blue;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
}

@lost gutter 15px;

.row {
  lost-flex-container: row;
  lost-center: 1170px;
}

.main-content {
  lost-column: 3/4 flex;
}

.sidebar {
  lost-column: 1/4 flex;
}

.search-results {
  lost-flex-container: row;
  padding: 0;
  list-style: none;
}

.search-result {
  lost-column: 1/4 flex;
  background: $light-blue;
  margin-bottom: 15px;

  &__image {
    position: relative;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s ease-in-out;
    background: color($darkest-blue a(80%));
  }

  &__content {
    padding: 2px 10px 7px;
  }

  &:hover {
    .search-result__image-overlay {
      opacity: 1;
    }
  }
}

.sidebar {
  background: $blue;
}

.playlist {
  padding: 0;
  list-style: none;
}

.playlist-item {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &__button {
    background: transparent;
    border: 0;
    color: #fff;
    width: 24px;
    margin-right: 5px;
    cursor: pointer;
  }

  &--active {
    background: $dark-blue;

    .playlist-item__button {
      color: $brand-primary;
    }
  }
}
