body {
  background: #202334;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

@lost gutter 15px;

.row {
  lost-utility: clearfix;
  lost-center: 1170px;
}

.main-content {
  lost-column: 3/4;
}

.sidebar {
  lost-column: 1/4;
}

.search-results {
  lost-utility: clearfix;
  padding: 0;
  list-style: none;
}

.search-result {
  lost-column: 1/4;
  background: #53597B;
  height: 200px;
  margin-bottom: 15px;
  font-size: 14px;
}
